

<section class='projects container'>
  <div class='text-xs-center'>
  <h1 class='play '>Projects</h1>
  <small><i class="fa fa-sticky-note" aria-hidden="true"></i>
  Non-Professional Projects are hosted on 'hobby' Heroku, may have a 5-10 second bootup time. Thank you
  </br>
  <i class="fa fa-github" aria-hidden="true"></i>
  still deploying projects and for on-going checkout github.
  </small>  </br>

  </div>
  <div class='card-columns'>
    <div class="card">
    <a href='https://hidden-brushlands-35661.herokuapp.com/' target="_top">
      <%=image_tag('lendr.png', class: 'card-img-top img-fluid ', alt: "Card image cap Responsive image") %>
    </a>
      <div class="card-block">
        <h4 class="card-title">LENDR</h4>
        <p class="card-text">A Platform for people to lend and borrow items; creating unique experiences and connections.</p>
      </div>
        <div class="card-footer">
          <small class=""><i class="fa fa-star" aria-hidden="true"></i>
          Final School Project</small>

      </div>
    </div>
    <div class="card">
      <a href='http://www.vincentphan.ca/' target="_top">
      <%=image_tag('vp.png', class: 'card-img-top img-fluid ', alt: "Card image cap Responsive image") %>
      </a>
      <div class="card-block">
        <h4 class="card-title">VINCENT PHAN</h4>
        <p class="card-text">A Calgary based realtor.<p>
      </div>
      <div class="card-footer">
        <small class=""><i class="fa fa-star" aria-hidden="true"></i>
        Professional Site</small>

    </div>
    </div>
    <div class="card">
      <a href='https://whispering-reef-25542.herokuapp.com/' target="_top">
      <%=image_tag('500.png', class: 'card-img-top img-fluid ', alt: "Card image cap Responsive image") %>
      </a>
      <div class="card-block">
        <h4 class="card-title">500PX SCOUT</h4>
        <p class="card-text">A small gallery based off the 500px API. Playing with api features, gem and such.</p>
      </div>
      <div class="card-footer">
        <small class=""><i class="fa fa-star" aria-hidden="true"></i>
        Personal Project</small>
    </div>
    </div>

  <div class="card">
    <a href='https://tranquil-reaches-59209.herokuapp.com/'  target="_top">
    <%=image_tag('match.png', class: 'card-img-top img-fluid ', alt: "Card image cap Responsive image") %>
    </a>
    <div class="card-block">
      <h4 class="card-title">Match Game</h4>
      <p class="card-text">A simple matching number game made with javascript.</p>
    </div>
    <div class="card-footer">
      <small class=""><i class="fa fa-star" aria-hidden="true"></i>
      Personal Project</small>
  </div>
  </div>
  <div class="card">
    <a href='http://www.zachszeto.com/' target="_top">
    <%=image_tag('zach.png', class: 'card-img-top img-fluid ', alt: "Card image cap Responsive image") %>
    </a>
    <div class="card-block">
      <h4 class="card-title">Zach Szeto</h4>
      <p class="card-text">A Toronto Based Realtor in the North York Region.</p>
    </div>
    <div class="card-footer">
      <small class=""><i class="fa fa-star" aria-hidden="true"></i>
      Professional Website</small>
  </div>
  </div>
</div>
</section>
